body{
    background-color: #0489aa;
}
.cad{
    width: 400px;
    background-color: #fff;
    position: relative;
    margin: auto;
    border: 2px #0489aa solid;
    border-radius: 30px;
}
h1 {
    text-align: center;
}

.input-container {
    position: relative;
    margin: 50px auto;
    width: 250px;
}

.input-container input[type="text"] {
    font-size: 15px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #0489aa77;
    padding: 4px 0;
    background-color: transparent;
    outline: none;
}

.input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: #0489aa77;
    transition: all 0.3s ease;
    pointer-events: none;
}

.input-container input[type="text"]:focus~.label,
.input-container input[type="text"]:valid~.label {
    top: -20px;
    font-size: 16px;
    color: #0489aa;
}

.input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #0489aa;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.input-container input[type="text"]:focus~.underline,
.input-container input[type="text"]:valid~.underline {
    transform: scaleX(1);
}

.input-btn {
    position: relative;
    margin: 50px auto;
    width: 200px;
}

button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: #0489aa;
    border: 1px #0489aa solid;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #fff;
    color: #0489aa;
    border: 1px #0489aa solid;
    border-radius: 45px;
}
